<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">MVP SITE SALES</h1>
      <p class="lead">This is a MVP Site, please visit every 10:00 AM IST to get exiciting deals</p>
      <hr class="my-4">
      <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>